.film {
    min-height: 100vh;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #1e2129, rgba(0, 0, 0, 0.6));
    }
}
.img-content {
    width: 100%;
    object-fit: cover;
}
.content-film {
    font-family: var(--font-family-content);
    position: absolute;
    top: 20%;
    width: 100%;
}
.content-inner {
    width: var(--default-layout-width);
    display: flex;
    margin: auto;
    padding: 0 20px;
}
.img-film {
    width: 300px;
    object-fit: contain;
    border-radius: 8px;
}
.info-film {
    margin-left: 30px;
}
.tittle-film {
    font-size: 7rem;
    font-weight: 700;
    color: var(--white);
}

.Rate-genre {
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 600;
}
.plot {
    max-width: calc(var(--default-layout-width) / 12 * 10);
    color: var(--white);
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: justify;
}
.btn-watch {
    display: flex;
}

@media only screen and (min-width: 1024px) and (max-width: 1160px) {
    .content-inner {
        width: 1024px;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .film {
        min-height: 0;
        display: flex;
        align-items: flex-start;
        margin-bottom: 150px;
    }
    .content-inner {
        width: 740px;
    }
    .tittle-film {
        font-size: 4rem;
        font-weight: 700;
        color: var(--white);
    }
    .img-film {
        width: 250px;
    }
}
.btn-add {
    padding: 10px 30px;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    color: var(--border-button-white);
    border-color: var(--border-button-white);
    margin-left: 20px;
    transition: 0.2s all ease-out;
    &:hover {
        color: #212529;
        background-color: var(--border-button-white);
        border-color: var(--border-button-white);
    }
}
@media only screen and (max-width: 739px) {
    .film {
        min-height: 50vh;
        display: flex;
        align-items: flex-start;
    }
    .content-film {
        top: 20%;
    }
    .content-inner {
        max-width: 739px;
        min-width: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tittle-film {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--white);
    }
    .img-film {
        width: 30%;
        height: 30%;
    }
    .img-content {
        width: 100%;
        object-fit: contain;
    }
    .plot {
        display: none;
    }
}
