.wrapper {
    padding-top: var(--default-header-height);
    background-color: var(--bg-color-content);
}
.container {
    display: flex;

    width: calc(100% - var(--default-sidebar-width));
}
.inner {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1420px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }
    .container {
        justify-content: center;
    }
}
