.inner {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--primary);
    min-width: 100px;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
    &:hover {
        background-color: #da3535;
    }
}

.search {
    margin-top: 100px;
    position: relative;
    width: 400px;
    display: flex;
    overflow: hidden;

    input {
        width: 100%;
        font-size: 20px;
        padding: 10px;
        border-radius: 9999px;
        color: var(--white);
        border-radius: 9999;
        background-color: rgb(51 51 53);
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
        }
    }
    .btn-search {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 43px;
        height: 43px;
        font-size: 20px;
        border-radius: 9999px;
        cursor: pointer;
        &:hover {
            background-color: #49494b;
        }
    }
}
.table-film {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-evenly;
}
.film {
    width: 200px;
    margin-bottom: 70px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    background-color: rgb(25 25 27);
    border-radius: 8px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: rgba(0, 0, 0, 0.1);
    }
    &:hover {
        transform: scale(1.05);
        & .name-film {
            color: var(--white);
        }
        &::after {
            background: rgba(0, 0, 0, 0);
        }
    }
    transition: all ease-in 0.2s;
}
.link {
    position: relative;
    z-index: 4;
}
.img-film {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    object-fit: contain;
}
.name-film {
    text-align: center;
    color: rgb(209 213 219);
    padding: 0 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.active {
    background-color: rgb(200, 224, 21);
}
.error {
    margin-top: 30px;
    color: var(--white);
}
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    li {
        div {
            color: var(--white);
        }

        a {
            color: var(--white);
            background-color: #999;
            margin-left: 20px;
            font-size: 1.6rem;
        }
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .film {
        width: 175px;
    }
}
@media only screen and (max-width: 739px) {
    .film {
        width: 170px;
    }
    .search {
        width: 355px;
    }
}
