.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(51 51 53);
    border-radius: 8px;
    margin-right: 15px;
}
.menu-genres {
    height: 400px;
    overflow-y: overlay;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.btn-genre {
    background-color: rgb(51 51 53);
    border: solid 1px #ccc;
    color: #ccc;
    font-size: 1.6rem;
    margin-left: 10px;
    padding: 10px;
    border-radius: 9999px;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
        transform: translateY(-5px);
        transition: all 0.2s ease-in;
    }
}
.active {
    background-color: rgba(15, 120, 201, 0.8);
}
.minute {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
.slider {
    position: relative;
    margin-top: 20px;
}
.left {
    position: absolute;
    left: -30px;
    top: -25px;
}
.right {
    position: absolute;
    right: -30px;
    top: -25px;
}
.menu-genres::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

.menu-genres::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(98, 99, 105, 0.5);
}

.menu-genres::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: 250px;
    }
    .left {
        position: absolute;
        left: -10px;
        top: -25px;
    }
    .right {
        position: absolute;
        right: -10px;
        top: -25px;
    }
}

@media only screen and (max-width: 739px) {
    .menu-genres {
        height: 200px;
    }
}
